@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position:relative;
}

p,a{
    font-family: 'Nunito', sans-serif;
}

h1{
    text-align: center;
}

h1,h2{
    font-family: 'Suez One', serif;
    letter-spacing: 2px;
}

h2{
    opacity: .8;
}

#hamburger{
    display: none;
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: 1000;
    width: 30px;
    height: 30px;
}

/* header section */

header{
    background-image: url('./assets/images/desktop/image-header.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto 2fr;
    padding: 35px 25px;
}

nav{
    justify-self: flex-end;
}

li{
    display: inline-block;
    margin: 10px;
}

li > a{
    text-decoration: none;
    color: white;
}

h1{
    grid-column: 1/3;
    justify-self: center;
    margin: 10vh;
    color: white;
    font-size: 3em;
}

header img:nth-of-type(3){
    grid-column: 1/3;
    justify-self: center;
}

/* about section */


section#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "div1 img1"
    "img2 div2";
}

section#about img:nth-of-type(1){
    grid-area: img1
}

section#about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#about div{
    align-self: center;
    justify-self: center;
    padding: 8vw;
}

section#about div h2{
    font-size: 2rem;
    padding-bottom: 25px;
}

section#about div p{
    line-height: 1.6;
    padding-bottom: 25px;
}

section#about div a{
    padding: 0 5px;
    text-decoration: none;
    position: relative;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: .8rem;
    font-family: 'Suez One', serif;
    letter-spacing: 2px;
    opacity: .8;
}

section#about div a:hover::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 8px;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
    background-color: #ff7163;
}

section#about div:nth-of-type(1) a:hover:before{
    background-color: #ffd602;
}

/* services section */
section#services{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

section#services > div{
    position: relative;
    min-height: 60vh;
}

section#services div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section#services div div{
    text-align: center;
    padding: 0 10vw;
    position: absolute;
    bottom: 10%;
}

section#services div div p{
    line-height: 1.6;
    padding-top: 15px;
}

/* testimonials section */
section#testimonials{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    padding:8% 10%;
}

section#testimonials h2{
    text-transform: uppercase;
    grid-column: 1/4;
    text-align: center;
    margin: 5% 0;
    color: #999;
    letter-spacing: 5px;
    font-size: 1.1rem;
}


section#testimonials div{
    text-align: center;
    padding: 20px 10px;
}

section#testimonials div img{
    border-radius: 50%;
    width: 70px;
}

section#testimonials div p{
    padding: 5%;
    line-height: 1.6;
}

section#testimonials div p:nth-of-type(2){
    font-family: 'Suez One', serif;
    opacity: .9;
}

section#testimonials div span{
    color: #999;
    font-size: .8rem;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
}

/* projects section */

section#projects{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

section#projects img{
    width: 100%;
}

/* footer section */
footer{
    padding: 10vh 0;
    background-color:#91d3c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div{
    display: flex;
    margin-top: 50px;
}

footer > img{
    height: 30px;
    filter: invert(47%) sepia(50%) saturate(369%) hue-rotate(117deg) brightness(94%) contrast(83%);
}

footer > img:hover{
    filter: none;
}


footer div ul li a{
    color: #488d7e;
}

footer div ul li a:hover{
    color: #fff;
}

footer div img{
    margin: 10px;
}

footer div img:hover{
    filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(0%) contrast(1000%);
-webkit-filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(0%) contrast(1000%);
-moz-filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(0%) contrast(1000%);
}



@media (max-width: 720px){
    #hamburger{
        display: block;
    }
    p{
        font-size:1.1rem;
    }
    section#about{
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1.5fr 1fr 1.5fr;
        grid-template-areas: 
        "img1"
        "div1"
        "img2"
        "div2";
    }
    section#testimonials{
        grid-template-columns:  1fr;
    }
    section#testimonials h2{
        grid-column: 1/2;
    }
    section#projects{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    nav{
        position: absolute;
        right: 0;
        top: 0;
        background-color: #555f;
        width: 50%;
        height: 100vh;
        padding: 30vh 0;
        transform: translate(100%,0);
        transition: .5s;
    }
    nav ul{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
    }
    .toggle{
        transform: translate(0,0);
    }
}